environtment = {
    org_name = "example"
    base_url = "okta.com"
    client_id = "client id"
    private_key_id  = "private key id"
    private_key = <<EOT
    -----BEGIN PRIVATE KEY-----
    private key data
    -----END PRIVATE KEY -----
    EOT 
    device_assurance_policy_ids = {
      Mac     = "policyID123"
      Windows = "policyIDabc"
      iOS     = "policyIDdef"
      Android = "policyID456"
    }
}

      
